@media screen and (max-width: 768px) {
  .navbar-menu ul {
    display: none;
  }

  .navbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0 0 0;
  }

  .navbar-right {
    display: none;
  }
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  .navbar-logo .logo-image {
    width: 100%;
    height: fit-content;
  }

  .content-center-div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
  }

  .content-center-div .center-image {
    margin-bottom: 20px;
    width: 70%;
    height: fit-content;
  }

  .content-center-div .center-text-title {
    margin: 0;
    font-size: 33px;
  }

  .content-center-div .center-text-content {
    margin-top: 20px;
    font-size: 14px;
  }

  .button-get-started {
    margin-top: 20px;
  }

  .content-bottom-div {
    box-shadow: none;
    margin: 60px 0;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-box-div {
    margin: 0;
  }

  .section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .image-features img {
    margin: 0;
    width: 100%;
    height: auto;
  }

  .title-features {
    margin: 0;
    font-size: 28px;
  }

  .subtext-plan {
    margin: 14px 0 24px 0;
    padding: 0;
    font-size: 14px;
  }

  .content-features {
    margin: 20px;
  }

  .feature-item {
    gap: 20px;
  }

  .section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box-plan-container {
    display: flex;
    flex-wrap: wrap;
  }

  .section-four-title {
    font-size: 28px;
  }

  .section-four-subtext {
    font-size: 14px;
  }

  .section-four-sponsor img {
    width: 100%;
    padding: 20px 0;
  }

  .section-five-title{
    font-size: 28px;
  }

  .section-five-subtext{
    font-size: 14px;
  }

  .review-wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .section-five-slide{
    justify-content: space-around;
    gap: 150px;
  }

  .subscribe-wrapper{
    margin: 0;
    padding: 40px 30px;
  }

  .subscribe-title{
    font-size: 25px;
    padding: 0 10px;
  }

  .subscribe-subtext{
    font-size: 14px;
    padding: 0 10px;
  }

  .subscribe-button {
    padding: 14px 43px;
  }

  .footer-wrapper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 60px 80px 60px 80px;
  }

  .footer-column h4{
    font-size: 15px;
    margin-bottom: 28px;
  }

  .footer-column ul li{
    margin: 10px 0
  }

    .footer-column ul li a{
    margin: 0;
    font-size: 14px;
  }

  .footer-right-content{
    justify-content: center;
  }
  
  .footer-left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 73px;
    margin-top: 40px;
  }

  .footer-subtext{
    font-size: 14px;
  }

  .footer-social-wrapper img{
    margin: 0;
  }

  .footer-copyright{
    margin: 0;
  }
}
